<html>

<head>
  <title>Video Stream</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <div class="jumbotron text-center">
    <h1>Video Stream</h1>
    <p>
      <img id="currentImage" style="border:2px solid teal">
    </p>
  </div>

  <script>
    var img = document.getElementById("currentImage");
    var ws = new WebSocket("ws://" + location.host + "/stream");

    ws.onopen = function () {
      console.log("connection was established");
      ws.send("next");
    };

    ws.onmessage = function (msg) {
      img.src = 'data:image/png;base64, ' + msg.data;
    };

    img.onload = function () {
      ws.send("next");
    }
  </script>
</body>

</html>